.icon-raw {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.7);
}

.icon-raw__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-raw__icon i {
  margin-bottom: 18px;
}
